 /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
  
  #map {
      height: 500px;
      width: 90%;
      margin: 5%;
      padding: 0;
  }
  /* Optional: Makes the sample page fill the window. */
  
  #address {
      display: none;
  }