

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="<c:url value = '/admin/clients'/>">Clients</a></li>
  <li role="presentation"><a href="<c:url value = '/admin/travels'/>">Voyages</a></li>
  <li role="presentation"><a href="<c:url value = '/admin/destinations'/>">Destinations</a></li>
  <li role="presentation"><a href="<c:url value = '/admin/bookings'/>">Reservations</a></li>
  <li role="presentation"><a href="<c:url value = '/admin/agencies'/>">Agences</a></li>
</ul>